{# Arguments:
    epoch: int
    results: array of dict of type {batch: int, loss: float, psnr: float, image: str, target_image: str}
#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epoch {{ epoch }} | EZNeRF</title>
  </head>
  <body>
    <h1>Epoch {{ epoch }}</h1>
    <table>
      <tr>
        <th>Batch</th>
        <th>Loss</th>
        <th>PSNR</th>
        <th>Image</th>
        <th>Target Image</th>
      </tr>
      {% for result in results %}
      <tr>
        <td>{{ result.batch }}</td>
        <td>{{ result.loss }}</td>
        <td>{{ result.psnr }}</td>
        <td><img src="{{ result.image }}" /></td>
        <td><img src="{{ result.target_image }}" /></td>
      </tr>
      {% endfor %}
  </body>
</html>
